ul.timeline-holder {
  margin: 0;
  padding: 0 0 0 400px;
}

/* timeline event right */
li.timeline-event {
  margin: 0 0 42px 495px;
  position: relative;
  padding-top: 5px;
  list-style: none;
  transition: 0.3s;
  width: 38%;
  padding-left: 25px;
  border:2px solid black
}

li.timeline-event:before {
  content: "";
  width: 3px;
  height: calc(100% - 20px);
  position: absolute;
  background-color: #03237b;
  left: -30px;
  top: 51px;
}

li.timeline-event span.timeline-circle:after {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  left: -8px;
  top: 11px;
  border-radius: 90%;
  background-color: #03237b;
  opacity: 0;
  transition: opacity 0.3s;
}

li.timeline-event:hover span.timeline-circle:after {
  opacity: 1;
}

span.timeline-circle {
  position: absolute;
  top: 0;
  left: -30px;
}

span.timeline-circle:before {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 90%;
  border: 3px solid #03237b;
  position: absolute;
  left: -16px;
  top: 3px;
  z-index: 1;
  transition: 0.3s;
}

li.timeline-event-left {
  margin: 0 0 42px 125px;
  padding-left:200px;
  position: relative;
  padding-top: 5px;
  list-style: none;
  transition: 0.3s;
  width: 50%;
  border:2px solid black
}

li.timeline-event-left:before {
  content: "";
  width: 3px;
  height: calc(100% - 20px);
  position: absolute;
  background-color: #03237b;
  left: 340px;
  top: 51px;
}

li.timeline-event-left:last-child:before {
  display: none;
}

li.timeline-event-left:last-child {
  margin-bottom: 0;
}

li.timeline-event-left span.timeline-left-circle:after {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  left: -8px;
  top: 11px;
  border-radius: 90%;
  background-color: #03237b;
  opacity: 0;
  transition: opacity 0.3s;
}

li.timeline-event-left:hover span.timeline-left-circle:after {
  opacity: 1;
}

span.timeline-left-circle {
  position: absolute;
  top: 0;
  left: 340px;
}

span.timeline-left-circle:before {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 90%;
  border: 3px solid #03237b;
  position: absolute;
  left: -16px;
  top: 3px;
  z-index: 1;
  transition: 0.3s;
}

/* .timeline-event-right-date {
  position: absolute;
  left: 380px;
  top: 2px;
  transition: 0.3s;
  color: #03237b;
  font-weight: 700;
} */

li.timeline-event-left:hover .timeline-event-right-date {
  transform: translateX(10px);
}

.timeline-event-common {
  font-size: medium;
  font-weight: bold;
  margin: 2% 0%;
}
.left-text{
  margin-left:-25rem;
  margin-right: 25rem;
  padding: 0  85px 0 85px;
}
/* .left-title{
  margin
} */