.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  height: 32rem;
  width: 90%;
  margin: 1rem;
  transform: transition-transform 0.7s;
}

.card:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 17rem;
}

.image-container img {
  height: 20rem;
  width: 20rem;
  object-cover: cover;
}

.content {
  padding: 1rem;
}

.content h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.content p {
  margin-top: 0.5rem;
  color: #4a5568;
}

/* Media Queries */
@media (min-width: 640px) {
  .card {
    width: 70%;
  }
}

@media (min-width: 768px) {
  .card {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .card {
    width: 25rem;
  }
}
