@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

/* festival fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
/* festival fonts */
:root {
  font-family: "Nunito Sans";
  line-height: 1.5;
  font-weight: 300;

  --white: #ffffff;
  --black: #292929;
  --grey: #7d7f81;
  --first: #f1efe7;
  --secound: #f5ce02;
  --third: #03237b;
  --black-gradient: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 40%,
    rgba(255, 255, 255, 0.75) 100%
  );
  --shadow: 0px 0px 0px 10% rgba(139, 147, 156, 0.2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

body {
  background-color: var(--white);
  color: var(--black);
  overflow-x: hidden;
}

.Title {
  font-size: 4rem;
  font-weight: 300;
  font-family: "Raleway";
}

.Raleway {
  font-family: "Raleway";
  font-weight: 300;
}

.Raleway-semibold {
  font-size: 1.5rem;
  font-family: "Raleway";
  font-weight: 600;
}
.Raleway-regular {
  font-size: 1.5rem;
  font-family: "Raleway";
  font-weight: 400;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.transition-200 {
  @apply transition-all duration-200 ease-in-out;
}

.transition-500 {
  @apply transition-all duration-500 ease-in-out;
}

.transition-700 {
  @apply transition-all duration-700 ease-in-out;
}

.YellowText {
  @apply text-[--secound] Raleway;
}

.BlueText {
  @apply text-[--third] Raleway;
}

.noscroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.noscroll::-webkit-scrollbar {
  display: none;
}

.PrimaryText {
  color: var(--third);
  font-family: "Raleway";
}

.Text {
  color: var(--grey);
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.paddings {
  padding: 1.5rem;
}

.innerWidth {
  width: 100%;
}

.button {
  font-weight: 500;
  padding: 0.6rem 1.4rem;
  color: var(--black);
  background: var(--secound);
  font-size: x-small;
  border: none;
  border-radius: 30px;
  transition: all 300ms ease-in;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
}

/* media queries */
@media (min-width: 1536px) {
  .innerWidth {
    max-width: 1280px;
    margin: auto;
  }
}

@media (min-width: 640px) {
  .paddings {
    padding: 4rem;
  }
}

@media (min-width: 1280px), (min-width: 768px) {
  .paddings {
    padding: 2rem;
  }
}

@media (max-width: 640px) {
  .PrimaryText {
    font-size: 1.5rem;
  }
}

canvas {
  height: 100vh !important;
  width: 50vw !important;
  background-color: #03237b;
}

/* for hiding the product page scrollbar in mobile view */
.sidebar-container::-webkit-scrollbar {
  width: 0px;
}

.sidebar-container::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}

.sidebar-container::-webkit-scrollbar-thumb {
  background: #888;
}

.sidebar-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
